:root {
	--primary-color: #cc0000;
	--secondary-color: #7c0000;
}

html,
body {
	/* https://css-tricks.com/couple-takes-sticky-footer/ */
	height: 100%;
}

a{
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
}

/* For sticky footer - grow to fill the space */
.content {
	flex: 1 0 auto;
}

.container {
	width: 90%;
	margin: 0 auto;
	overflow: none;
	padding: 10px;
}

.header{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
}

.app-header {
	background: var(--secondary-color);
	box-shadow: 3px 3px 10px #888888;

}

.app-header .logo{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid rgba(1, 1, 1, 0.3);
}

.app-header .container {
	margin-left: 4.5rem;
	padding: 15px 10px;
	font-size: 25px;
	color: 000;
	letter-spacing: 1.6px;
	text-shadow: 2px 2px 5px #ccc;
	font-weight: 600;
	display: flex;
}

.app-header span{
   color: #fff;
}

.subheader {
	background: var(--primary-color);
	box-shadow: 3px 3px 10px var(--secondary-color);
	width: 90%;
	border-radius: 0 0 2px 2px;
	position: absolute;
	left: 20px;
	top: 50px;
	height: 28px;

}

.subheader div{
	font-size: 8px;
	font-weight: 500;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	color: #fff;	
}

.subheader p {
	margin: 4px;
}

.subheader span {
	color: #000;
}

.section{
	padding-top: 100px;
	margin-bottom: 50px;
}

.section i{
	font-size: 200px;
	color: var(--secondary-color);
}

.section p{
	color: var(--primary-color);
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
}

.section .link{
	width: 300px;
	margin: 1rem auto;
	text-align: center;
}

.section .kepler{
	width: 100%;
}

.kepler img{
	width: 100%;
	height: 500px;
}

.section .about p{
	font-size: 18px;
	text-align: center;
	padding: 10px;
	line-height: 1.6;
	color: rgb(89, 78, 78);
	width: 100%;
}

.app-footer {
	flex-shrink: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #f4f4f4;
	padding: 10px;
	font-size: 14px;
	box-shadow:  -2px 0 4px rgba(1,1,1,0.5);
}

.app-footer a{
	color: rgb(184, 123, 123);
}

.app-footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.app-footer ul li a{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-footer ul li i {
	font-size: 22px;
}

/* Splash */
#splash {
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(145deg, #df3636, #180101);
	height: 100vh;
	width: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 1s;
}

#splash p {
	font-size: 25px;
	color: rgba(242,242,242,0.7);
	padding-left: 5%;
}

#splash.fade {
	opacity: 0;
}

.loader{
	margin: 10px 10px 10px 17px;
	width: 50px;
	height: 50px;
	border: 7px solid rgba(242, 242, 242, 0.5);
	border-top: 7px solid #000;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

/* Desktop */
@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid .item img {
		width: 60px;
	}
}
